CouchDB_json/flow.json
{"_id":"darcy-TravelMate-4740/flow","_rev":"16-e5138263eb7deb3c7f2b63560599fa94","flow":[{"id":"6c78a13e.7ec4d8","type":"tab","label":"Flow 1"},{"id":"abd0d84c.0be61","type":"tab","label":"Flow 2"},{"id":"8346ef3f.bbe74","type":"subflow","name":"Most or Popular Playlist","info":"","in":[{"x":46,"y":125,"wires":[{"id":"2d873cc3.57f72c"}]}],"out":[]},{"id":"fdfd5c91.02bb18","type":"chatbot-telegram-node","z":"6c78a13e.7ec4d8","botname":"Output","usernames":"","polling":"1000","log":""},{"id":"63ae218.036e8e","type":"telegram bot","z":"6c78a13e.7ec4d8","botname":"HumixAudioBot","usernames":"","chatids":""},{"id":"9671fe27.4013f8","type":"function","z":"8346ef3f.bbe74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":458,"y":55,"wires":[["e805a871.9627a8"]]},{"id":"e805a871.9627a8","type":"sense command","z":"8346ef3f.bbe74","name":"Play Song","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"play-spotify","x":747.5,"y":126,"wires":[]},{"id":"2d873cc3.57f72c","type":"switch","z":"8346ef3f.bbe74","name":"","property":"payload.entities[0].value","propertyType":"msg","rules":[{"t":"eq","v":"popular_play_songlist","vt":"str"},{"t":"eq","v":"popular_play_artist","vt":"str"},{"t":"eq","v":"most_play_songlist","vt":"str"},{"t":"eq","v":"most_play_artist","vt":"str"}],"checkall":"true","outputs":4,"x":205.5,"y":125,"wires":[["9671fe27.4013f8"],["7dc565d0.8c8f54"],["f007efcb.e6f2"],["4a481500.da7174"]]},{"id":"7dc565d0.8c8f54","type":"function","z":"8346ef3f.bbe74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":457.5,"y":98,"wires":[["e805a871.9627a8"]]},{"id":"f007efcb.e6f2","type":"function","z":"8346ef3f.bbe74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":458.5,"y":150,"wires":[["e805a871.9627a8"]]},{"id":"4a481500.da7174","type":"function","z":"8346ef3f.bbe74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":457.5,"y":211,"wires":[["e805a871.9627a8"]]},{"id":"72200118.77ef7","type":"sense event","z":"6c78a13e.7ec4d8","name":"Receive Message","senseid":"Humix-AudioBox-b10f3e","eventtype":"humix-conversation-module","eventname":"stt","x":156.5,"y":73,"wires":[["cef773e9.a140f8","a60f78bd.e47168"]]},{"id":"a60f78bd.e47168","type":"debug","z":"6c78a13e.7ec4d8","name":"","active":true,"console":"false","complete":"payload","x":461.5,"y":74,"wires":[]},{"id":"b60652f8.fae02","type":"inject","z":"6c78a13e.7ec4d8","name":"Test Conversation","topic":"play song by selena gomez play i don't wanna live forever by zayn play seasons in the sun by westlife play 24k magic by bruno mars","payload":"{\"message\":\"布魯斯\", \"dev_mac\":\"b827ebb10f3e\"}","payloadType":"str","repeat":"","crontab":"","once":false,"x":168,"y":190,"wires":[["cef773e9.a140f8"]]},{"id":"ae788584.1a69a8","type":"sense command","z":"6c78a13e.7ec4d8","name":"Pause","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"pause-spotify","x":696.5,"y":318,"wires":[]},{"id":"7ba4fbb6.86193c","type":"sense command","z":"6c78a13e.7ec4d8","name":"Resume","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"resume-spotify","x":706.5,"y":362,"wires":[]},{"id":"8b4cd92d.29ffe","type":"watson-conversation-v1","z":"6c78a13e.7ec4d8","name":"AudioBox Conversation","workspaceid":"fc1ecf5f-bc2c-4187-a157-08d1704a3793","multiuser":true,"context":true,"x":492,"y":184,"wires":[["49519fff.959cd8","a60f78bd.e47168"]]},{"id":"49519fff.959cd8","type":"switch","z":"6c78a13e.7ec4d8","name":"Check Intent","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"greeting","vt":"str"},{"t":"eq","v":"playWithArtistName","vt":"str"},{"t":"eq","v":"pause","vt":"str"},{"t":"eq","v":"resume","vt":"str"},{"t":"eq","v":"changeName","vt":"str"},{"t":"eq","v":"nonsence","vt":"str"}],"checkall":"false","outputs":6,"x":437,"y":306,"wires":[["5fda4b35.3de43c"],["31eb6b88.330abc"],["ae788584.1a69a8"],["7ba4fbb6.86193c"],["3bc69f4e.bf6f"],["5fda4b35.3de43c"]]},{"id":"ba42ac14.a0f0f8","type":"telegram receiver","z":"6c78a13e.7ec4d8","name":"","bot":"9a824481.320e18","saveDataDir":"/telegram","x":164,"y":412,"wires":[["683f6208.81a8e4"],[]]},{"id":"6fcc8f57.062cb8","type":"debug","z":"6c78a13e.7ec4d8","name":"Conversation Result","active":true,"console":"false","complete":"payload","x":976.5,"y":440,"wires":[]},{"id":"cc88e741.45a3e","type":"telegram sender","z":"6c78a13e.7ec4d8","name":"","bot":"9a824481.320e18","x":1228,"y":566,"wires":[[]]},{"id":"58e60525.09d4ac","type":"function","z":"6c78a13e.7ec4d8","name":"Telegram Refactor","func":"//node.warn(\"msg.originalMessage =\" + JSON.stringify(msg.originalMessage));\n\nvar newMsg = {payload: msg.originalMessage.content, user: msg.user.id};\nvar newMsg2 = null;\nif (msg.payload.length > 0) {\n    //node.warn(\"msg.payload[0] = \" + JSON.stringify(msg.payload[0]));\n    if (msg.payload[0].sense_id) {\n        newMsg.senseId = msg.payload[0].sense_id;\n    }\n    \n    return [newMsg, newMsg2];\n} else {\n    var full_name = \"\" + msg.user.first_name;\n    \n    if (msg.user.last_name) {\n        full_name = \"\" + msg.user.last_name + msg.user.first_name;\n    }\n    \n    newMsg.params = {\n        context: {user_name: full_name}\n    };\n    \n    return [newMsg, newMsg2];\n}\n\n","outputs":"2","noerr":0,"x":434,"y":477,"wires":[["69dfc7f5.a5d888"],["5955d8e8.a91ff8"]]},{"id":"69dfc7f5.a5d888","type":"watson-conversation-v1","z":"6c78a13e.7ec4d8","name":"AudioBox Conversation","workspaceid":"fc1ecf5f-bc2c-4187-a157-08d1704a3793","multiuser":true,"context":true,"x":696.5,"y":471,"wires":[["6fcc8f57.062cb8","c0e46017.dd2b08","e6d817e6.7abb8"]]},{"id":"c0e46017.dd2b08","type":"switch","z":"6c78a13e.7ec4d8","name":"Check Intent","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"greeting","vt":"str"},{"t":"eq","v":"playNext","vt":"str"},{"t":"eq","v":"playWithArtistName","vt":"str"},{"t":"eq","v":"pause","vt":"str"},{"t":"eq","v":"resume","vt":"str"},{"t":"eq","v":"most_play_intent","vt":"str"},{"t":"else"}],"checkall":"false","outputs":7,"x":656.5,"y":584,"wires":[["d1d8fee9.428bd8"],["d1d8fee9.428bd8","9d0f5a3a.02b08"],["d1d8fee9.428bd8","31eb6b88.330abc","650fb12.ac9c05"],["ae788584.1a69a8"],["7ba4fbb6.86193c"],["9a1c4d3d.d3bee8"],["650fb12.ac9c05","d1d8fee9.428bd8"]]},{"id":"5fda4b35.3de43c","type":"function","z":"6c78a13e.7ec4d8","name":"Check Response Output","func":"node.warn(msg.payload);\nif (msg.payload.output.text.length > 0) {\n    msg.payload = msg.payload.output.text[0];\n    return msg;\n}","outputs":1,"noerr":0,"x":755,"y":215,"wires":[["f5fd8f81.65c57","e87cb3db.2586"]]},{"id":"908b01f1.facfa8","type":"sense command","z":"6c78a13e.7ec4d8","name":"Say Something ","senseid":"Humix-AudioBox-b10f3e","commandtype":"humix-conversation-module","commandname":"tts","x":1698.5,"y":230,"wires":[]},{"id":"d1d8fee9.428bd8","type":"function","z":"6c78a13e.7ec4d8","name":"Reply Message","func":"var newMsg = {};\n\nif (Array.isArray(msg.payload) && msg.payload[0]._id) {\n    if (\"*\" === msg.payload[0].songName) {\n        newMsg.payload = {chatId: msg.payload[0].user, type: 'message', content: \"為您播放 \" + msg.payload[0].artistName  + \" 的歌曲\"};    \n    } else {\n        newMsg.payload = {chatId: msg.payload[0].user, type: 'message', content: \"為您播放 \" + msg.payload[0].artistName  + \" 的 \" + msg.payload[0].songName};\n    }\n    \n    return newMsg;\n}\n\n//if ('node_5_1489763433669' in msg.payload.context.system._node_output_map) {\nif (msg.payload.entities && msg.payload.entities.length > 0 && \"artist_name\" === msg.payload.entities[0].entity) {\n    var text = msg.payload.input.text.substring(msg.payload.entities[0].location[1], msg.payload.input.text.length);\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/的歌曲/i, \"\");\n    text = text.replace(/的歌/i, \"\");\n    \n    if (text.substring(0, 1) === \"的\") {\n        text = text.substring(1, text.length);\n    }\n    \n    if (text && text.length > 0) {\n        newMsg.payload = {chatId: msg.user, type: 'message', content: \"為您播放 \" + msg.payload.entities[0].value  + \" 的 \" + text};\n        return newMsg;\n    }\n    \n}\n\nif (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n    newMsg.payload = {chatId: msg.user, type: 'message', content: msg.payload.output.text[0]};\n    return newMsg;\n}\n\nif (msg.payload.entities && msg.payload.entities.length === 0 && msg.payload.input.text.length >= 3) {\n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/來一首/i, \"\");\n    text = text.replace(/唱一首/i, \"\");\n    text = text.replace(/播一首/i, \"\");\n    text = text.replace(/唱一下/i, \"\");\n    text = text.replace(/播一下/i, \"\");\n    text = text.replace(/我要聽/i, \"\");\n    text = text.replace(/我想聽/i, \"\");\n    text = text.replace(/要聽/i, \"\");\n    text = text.replace(/想聽/i, \"\");\n    text = text.replace(/播放/i, \"\");\n    text = text.replace(/播/i, \"\");\n    \n    newMsg.payload = {chatId: msg.user, type: 'message', content: \"幫你搜尋 \" + text + \" 這首歌。\"};\n    return newMsg;\n}\n\nif (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n    newMsg.payload = {chatId: msg.user, type: 'message', content: msg.payload.output.text[0]};\n    return newMsg;\n}","outputs":1,"noerr":0,"x":954.5,"y":566,"wires":[["cc88e741.45a3e"]]},{"id":"4bc04b18.02e41c","type":"function","z":"6c78a13e.7ec4d8","name":"Prepare for Create Data","func":"//node.warn(msg.payload.entities[0].value);\nvar _userName = \"\";\nif (msg.payload.context.user_name) {\n    _userName = msg.payload.context.user_name;\n}\n\nvar newMsg = {};\nvar newMsg2 = null;\nif (msg.user && msg.payload.entities.length >= 2) {\n    if (msg.payload.entities[0].entity == 'playlist' && msg.payload.entities[1].entity == 'artist_name') {\n        newMsg.payload = {user: msg.user, userName: _userName, songName: \"*\", artistName: msg.payload.entities[1].value, creation_time: new Date()};\n        node.warn(JSON.stringify(newMsg));\n        if (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n            newMsg2 = {payload: msg.payload.output.text[0]};\n        }\n        return [newMsg, newMsg2];\n    }\n}","outputs":"2","noerr":0,"x":999,"y":179,"wires":[["8e9486d1.339c9"],["e87cb3db.2586","f5fd8f81.65c57"]]},{"id":"8e9486d1.339c9","type":"cloudant out","z":"6c78a13e.7ec4d8","name":"Insert Playlist","cloudant":"","database":"playlist","service":"Humix-Cloudant-Service","payonly":true,"operation":"insert","x":1240,"y":172,"wires":[]},{"id":"cef773e9.a140f8","type":"function","z":"6c78a13e.7ec4d8","name":"Apply User","func":"var input = JSON.parse(msg.payload);\n\nif (input.dev_mac && input.message) {\n    var newMsg = {};\n    newMsg.user = input.dev_mac;\n    newMsg.payload = input.message;\n    \n    return newMsg;    \n}","outputs":1,"noerr":0,"x":318,"y":130,"wires":[["8b4cd92d.29ffe"]]},{"id":"e8dd52b1.9fa838","type":"sense command","z":"6c78a13e.7ec4d8","name":"Play Song","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"play-spotify","x":1515.5,"y":338,"wires":[]},{"id":"f5fd8f81.65c57","type":"delay","z":"6c78a13e.7ec4d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1506,"y":230,"wires":[["908b01f1.facfa8"]]},{"id":"e87cb3db.2586","type":"sense command","z":"6c78a13e.7ec4d8","name":"Pause","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"pause-spotify","x":1495.5,"y":284,"wires":[]},{"id":"31eb6b88.330abc","type":"function","z":"6c78a13e.7ec4d8","name":"Check Artist or Song Name","func":"var newMsg = {user: msg.user};\n\nif (msg.senseId) {\n    newMsg.senseId = msg.senseId;\n}\n\nif (msg.payload.entities && msg.payload.entities.length > 0 && \"artist_name\" === msg.payload.entities[0].entity) {\n    var text = msg.payload.input.text.substring(msg.payload.entities[0].location[1], msg.payload.input.text.length);\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/的歌曲/i, \"\");\n    text = text.replace(/的歌/i, \"\");\n    \n    if (text.substring(0, 1) === \"的\") {\n        text = text.substring(1, text.length);\n    }\n    \n    if (text && text.length > 0) {\n        newMsg.payload = {\"songName\": text, \"artistName\": msg.payload.entities[0].value};    \n    } else {\n        newMsg.payload = {\"songName\": \"*\", \"artistName\": msg.payload.entities[0].value};\n    }\n    \n    return newMsg;\n}\n\nif (msg.payload.entities && msg.payload.entities.length === 0 && msg.payload.input.text.length >= 3) {\n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/來一首/i, \"\");\n    text = text.replace(/唱一首/i, \"\");\n    text = text.replace(/播一首/i, \"\");\n    text = text.replace(/唱一下/i, \"\");\n    text = text.replace(/播一下/i, \"\");\n    text = text.replace(/我要聽/i, \"\");\n    text = text.replace(/我想聽/i, \"\");\n    text = text.replace(/要聽/i, \"\");\n    text = text.replace(/想聽/i, \"\");\n    text = text.replace(/播放/i, \"\");\n    text = text.replace(/播/i, \"\");\n    \n    newMsg.payload = {\"songName\": text};\n    \n    return newMsg;\n}","outputs":1,"noerr":0,"x":998,"y":339,"wires":[["e8dd52b1.9fa838","83a9210b.d416d"]]},{"id":"3bc69f4e.bf6f","type":"function","z":"6c78a13e.7ec4d8","name":"Change User Name","func":"if (msg.payload.input.text.length > 0 && 'conversation_start' in msg.payload.context.system._node_output_map) {\n    \n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/我的名子是/i, \"\");\n    text = text.replace(/我叫做/i, \"\");\n    text = text.replace(/請叫我/i, \"\");\n    text = text.replace(/我是/i, \"\");\n    text = text.replace(/叫我/i, \"\");\n    text = text.replace(/我叫/i, \"\");\n    text = text.replace(/叫/i, \"\");\n    \n    var newMsg = {};\n    newMsg.user = msg.user;\n    newMsg.params = {\n        context: {user_name: text}\n    };\n    newMsg.payload = \"布魯斯\";\n    //newMsg.payload = \"哈囉\";\n    node.warn(newMsg);\n    \n    return newMsg;\n}","outputs":"1","noerr":0,"x":736.5,"y":269,"wires":[["8b4cd92d.29ffe"]]},{"id":"d08281b8.4955f8","type":"cloudant in","z":"6c78a13e.7ec4d8","name":"Query User","cloudant":"","database":"telegram_users","service":"Humix-Cloudant-Service","search":"_idx_","design":"userSearch","index":"userSearch","x":144.5,"y":551,"wires":[["2eba06be.7547b2"]]},{"id":"2eba06be.7547b2","type":"switch","z":"6c78a13e.7ec4d8","name":"Check Query Result","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":175.5,"y":615,"wires":[["58e60525.09d4ac"],["da214550.61bba","58e60525.09d4ac"]]},{"id":"683f6208.81a8e4","type":"function","z":"6c78a13e.7ec4d8","name":"Prepare for Query User","func":"var newMsg = {};\nnode.warn(\"msg.originalMessage.from = \" + JSON.stringify(msg.originalMessage.from));\nif (msg.originalMessage.from) {\n    newMsg.originalMessage = msg.payload;\n    newMsg.payload = \"id:\" + msg.originalMessage.from.id;\n    newMsg.user = msg.originalMessage.from;\n    \n    return newMsg;\n}","outputs":1,"noerr":0,"x":183.5,"y":489,"wires":[["d08281b8.4955f8"]]},{"id":"da214550.61bba","type":"function","z":"6c78a13e.7ec4d8","name":"Prepare for Create Data","func":"var newMsg = {};\nnewMsg.payload = msg.user;\nnewMsg.payload.full_name = \"\" + msg.user.first_name;\nif (msg.user.last_name) {\n    newMsg.payload.full_name = \"\" + msg.user.last_name + msg.user.first_name;    \n}\n\nreturn newMsg","outputs":1,"noerr":0,"x":435.5,"y":621,"wires":[["5955d8e8.a91ff8"]]},{"id":"5955d8e8.a91ff8","type":"cloudant out","z":"6c78a13e.7ec4d8","name":"Insert or Update User","cloudant":"","database":"telegram_users","service":"Humix-Cloudant-Service","payonly":true,"operation":"insert","x":444.5,"y":550,"wires":[]},{"id":"650fb12.ac9c05","type":"function","z":"6c78a13e.7ec4d8","name":"Check Emotion or musictype or Artist","func":"//node.warn(JSON.stringify(msg.payload));\nvar wildcard = ['%25a%25', 'a%25', '%25e%25', 'e%25', '%25i%25', 'i%25', '%25o%25', 'o%25', '%25u%25', 'u%25'];\nvar newMsg = { };\n\nif (msg.senseId) {\n    newMsg.senseId = msg.senseId;\n}\n\nif (\"playWithArtistName\" != (\"\" + msg.payload.intents[0].intent)\n    && msg.payload.entities\n    && msg.payload.entities.length > 0 ) {\n        \n    newMsg.user = msg.user;\n    \n    newMsg.method = \"GET\";\n    newMsg.headers = \"client_id: 6b284830006843e7ae7b170725715aed\";\n    \n    var entity = msg.payload.entities[0].entity;\n    if (entity === 'artist_name') {\n        newMsg.url = \"https://api.spotify.com/v1/search?limit=5&type=artist&q=\" + encodeURI(msg.payload.entities[0].value);\n        return newMsg;\n        \n    } else if (entity === 'emotion' || entity === 'color' || entity === 'musictype') {\n        if (\"其他\" === msg.payload.entities[0].value\n            || \"不要\" === msg.payload.entities[0].value) {\n            \n            var qStr = wildcard[getRandomNumber(wildcard.length)];\n            \n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + qStr;\n        } else {\n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + encodeURI(msg.payload.entities[0].value);\n        }\n        return newMsg;    \n    } else if (entity === 'function') {\n        if (\"點歌\" === msg.payload.entities[0].value) {\n            var qStr = wildcard[getRandomNumber(wildcard.length)];\n            \n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + qStr;\n            \n            return newMsg; \n        }\n    } \n}\n\nfunction getRandomNumber(quantity_of_nums){\n    var milliseconds = new Date().getMilliseconds();\n    return Math.floor(milliseconds * quantity_of_nums / 1000);\n}","outputs":"1","noerr":0,"x":1023.5,"y":628,"wires":[["a2a3b6ab.eee8c8"]]},{"id":"a2a3b6ab.eee8c8","type":"http request","z":"6c78a13e.7ec4d8","name":"Spotify Search API","method":"GET","ret":"obj","url":"","tls":"","x":953,"y":747,"wires":[["f64b8e97.d2683"]]},{"id":"15027feb.be329","type":"debug","z":"6c78a13e.7ec4d8","name":"Search Item Logs","active":true,"console":"false","complete":"true","x":1528,"y":654,"wires":[]},{"id":"f64b8e97.d2683","type":"function","z":"6c78a13e.7ec4d8","name":"Random Search Items","func":"if (msg.payload.playlists && msg.payload.playlists.items.length > 0 && msg.user) {\n    var random = getRandomNumber(msg.payload.playlists.items.length);\n    var item = msg.payload.playlists.items[random];\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: item.external_urls.spotify} };\n    var newMsg2 = {payload: {\n        user: msg.user,\n        type: item.type,\n        item_id: item.id,\n        owner_id: item.owner.id,\n        external_url: item.external_urls.spotify,\n        creation_date:(new Date()).getTime()\n    }};\n    var newMsg3 = {payload: {playlistId: item.id, ownerId: item.owner.id} };\n    \n    if (msg.senseId) {\n        newMsg3.senseId = msg.senseId;\n    }\n    \n    return [newMsg, newMsg2, newMsg3];\n} else if (msg.payload.artists && msg.payload.artists.items.length > 0 && msg.user) {\n    var item = msg.payload.artists.items[0];\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: item.external_urls.spotify}};\n    var newMsg2 = {payload: {\n        user: msg.user,\n        type: item.type,\n        item_id: item.id,\n        external_url: item.external_urls.spotify,\n        creation_date:(new Date()).getTime()\n    }};\n    \n    return [newMsg, newMsg2, null];\n} else if (msg.payload.tracks && msg.payload.tracks.items.length > 0 && msg.user) {\n    var random = getRandomNumber(msg.payload.tracks.items.length);\n    var item = msg.payload.tracks.items[random];\n    \n    var externalUrl = item.album.external_urls.spotify;\n    \n    if (\"*\" === msg.songName) {\n        externalUrl = item.artists[0].external_urls.spotify;\n    }\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: externalUrl} };\n    return [newMsg, null, null];\n}\n\nfunction getRandomNumber(quantity_of_nums){\n    var milliseconds = new Date().getMilliseconds();\n    return Math.floor(milliseconds * quantity_of_nums / 1000);\n}","outputs":"3","noerr":0,"x":1242,"y":746,"wires":[["15027feb.be329","cc88e741.45a3e"],["ff67f5c1.f699d8"],["e8dd52b1.9fa838"]]},{"id":"ff67f5c1.f699d8","type":"cloudant out","z":"6c78a13e.7ec4d8","name":"Insert Playlist","cloudant":"","database":"playlist","service":"Humix-Cloudant-Service","payonly":true,"operation":"insert","x":1508.5,"y":752,"wires":[]},{"id":"bcf00ace.1001e8","type":"cloudant out","z":"6c78a13e.7ec4d8","name":"Insert Conversation","cloudant":"","database":"conversation_result","service":"Humix-Cloudant-Service","payonly":true,"operation":"insert","x":964,"y":522,"wires":[]},{"id":"9d0f5a3a.02b08","type":"sense command","z":"6c78a13e.7ec4d8","name":"Next Song","senseid":"audiobox-bf89cc","commandtype":"humix-spotify-module","commandname":"next-spotify","x":1515.5,"y":391,"wires":[]},{"id":"83a9210b.d416d","type":"function","z":"6c78a13e.7ec4d8","name":"Response Artist Name or Song Name","func":"msg.method = \"GET\";\nmsg.headers = \"client_id: 6b284830006843e7ae7b170725715aed\";\nmsg.artistName = msg.payload.artistName;\nmsg.songName = msg.payload.songName;\n\nnode.warn(\"msg = \" + JSON.stringify(msg));\nif (msg.payload.artistName) {\n    if (\"*\" === msg.payload.songName) {\n        msg.url = \"https://api.spotify.com/v1/search?limit=10&type=artist&q=\" + encodeURI(msg.payload.songName) + \"%20artist:\" + encodeURI(msg.payload.artistName);        \n    } else {\n        msg.url = \"https://api.spotify.com/v1/search?limit=10&type=track&q=\" + encodeURI(msg.payload.songName) + \"%20artist:\" + encodeURI(msg.payload.artistName);\n    }\n    msg.payload = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1028,"y":391,"wires":[["d3d3043d.5ac928","a2a3b6ab.eee8c8"]]},{"id":"d3d3043d.5ac928","type":"debug","z":"6c78a13e.7ec4d8","name":"","active":true,"console":"false","complete":"true","x":1303,"y":391,"wires":[]},{"id":"e6d817e6.7abb8","type":"function","z":"6c78a13e.7ec4d8","name":"Log User and Creation Date","func":"if (msg.user) {\n   msg.payload.user = msg.user;\n   msg.payload.creation_date = (new Date()).getTime();\n}\nreturn msg; ","outputs":1,"noerr":0,"x":995,"y":482,"wires":[["bcf00ace.1001e8"]]},{"id":"b08ba4a4.8d043","type":"telegram command","z":"6c78a13e.7ec4d8","name":"/menu","command":"/menu","bot":"9a824481.320e18","x":125,"y":694,"wires":[["fea33b50.dbdb98"],["bf91410d.d258a"]]},{"id":"bf91410d.d258a","type":"function","z":"6c78a13e.7ec4d8","name":"Create Menu","func":"node.warn(\"Hello\");\n\n\nvar keyboard = context.global.get(\"keyboard\");\n\nif (keyboard && keyboard.pending) {\n    \n    context.global.set(\"keyboard\", {pending: false});\n    \n    // '開心'], \n    //         ['悲傷'], \n    //         ['戀愛'],\n    //         ['生氣'],\n    //         ['無奈'\n    \n    if (msg.payload.content === '開心') {\n        msg.payload.content = '開心';\n        return [msg, null];\n    } else if(msg.payload.content === '悲傷'){\n        msg.payload.content = '悲傷';\n        return [msg, null];\n    } else if(msg.payload.content === '戀愛') {\n        msg.payload.content = '戀愛';\n        return [msg, null];\n    } else if(msg.payload.content === '生氣') {\n        msg.payload.content = '生氣';\n        return [msg, null];\n    } else if(msg.payload.content === '無奈') {\n        msg.payload.content = '無奈';\n        return [msg, null];\n    } else {\n        msg.payload.content = 'Hi';\n        return [null, msg];\n    }\n}\n\n\n// var menuMsg = \"/menu - show menu\\r\\n\";\n\n// menuMsg += \"Hi,\" + msg.originalMessage.from.username;\n\n// msg.payload.content = menuMsg;\n// msg.payload.options = {parse_mode : \"Markdown\"};\n// return msg;\n\n// var newMsg = {\n//     payload:{\n//         chatId: msg.originalMessage.from.id, \n//         type: 'message', \n//         content: ('Hello ' + msg.originalMessage.from.first_name)\n//     }};\n\n// return newMsg;","outputs":1,"noerr":0,"x":297,"y":758,"wires":[["39054b13.dcc1cc","409bf146.e00cc8"]]},{"id":"39054b13.dcc1cc","type":"telegram sender","z":"6c78a13e.7ec4d8","name":"send","bot":"9a824481.320e18","x":554,"y":689,"wires":[[]]},{"id":"fea33b50.dbdb98","type":"function","z":"6c78a13e.7ec4d8","name":"confirmation msg","func":"context.global.keyboard = { pending: true};\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: JSON.stringify({\n        keyboard: [\n            ['開心'], \n            ['悲傷'], \n            ['戀愛'],\n            ['生氣'],\n            ['無奈']],\n            'resize_keyboard' : true,\n            'one_time_keyboard' : true\n    })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\nreturn [ msg ];","outputs":1,"noerr":0,"x":331,"y":674,"wires":[["39054b13.dcc1cc"]]},{"id":"409bf146.e00cc8","type":"debug","z":"6c78a13e.7ec4d8","name":"","active":true,"console":"false","complete":"payload","x":484,"y":773,"wires":[]},{"id":"9a1c4d3d.d3bee8","type":"subflow:8346ef3f.bbe74","z":"6c78a13e.7ec4d8","name":"","x":730,"y":773,"wires":[]},{"id":"cedb1bc7.3f7b9","type":"function","z":"abd0d84c.0be61","name":"Apply Query Creatria","func":"var newMsg = {};\n\nnewMsg.user = msg.user; \nnewMsg.payload = \"user:\" + msg.user;\nif (msg.payload.context.user_name) {\n    newMsg.payload += \", userName:\";\n    newMsg.payload += msg.payload.context.user_name;\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":143,"y":81,"wires":[["b6e8ba59.d42c18"]]},{"id":"b6e8ba59.d42c18","type":"cloudant in","z":"abd0d84c.0be61","name":"Query Playlist","cloudant":"","database":"playlist","service":"Humix-Cloudant-Service","search":"_idx_","design":"userSearch","index":"userSearch","x":387.5,"y":81,"wires":[["ce29159.2df6668"]]},{"id":"ce29159.2df6668","type":"switch","z":"abd0d84c.0be61","name":"Check Query Result","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":640.5,"y":81,"wires":[["627f001.c3008","2e251b57.b8ba84"],["253b4628.a7a822"]]},{"id":"627f001.c3008","type":"function","z":"abd0d84c.0be61","name":"Play Artist or Song Name","func":"var doc = msg.payload[0];\n\nvar newMsg = {};\nnewMsg.payload = {\"songName\": doc.songName, \"artistName\": doc.artistName};\n\nnode.warn(JSON.stringify(newMsg.payload));\n\nreturn newMsg;","outputs":1,"noerr":0,"x":940,"y":74,"wires":[[]]},{"id":"2e251b57.b8ba84","type":"function","z":"abd0d84c.0be61","name":"Prepare Delete","func":"var doc = msg.payload[0];\n\nvar newMsg = {};\nnewMsg.payload = doc;\n\nreturn newMsg;","outputs":1,"noerr":0,"x":910,"y":114,"wires":[["7baad717.2699c8"]]},{"id":"253b4628.a7a822","type":"function","z":"abd0d84c.0be61","name":"Playlist Empty","func":"var newMsg = {};\nnewMsg.payload = \"目前你的歌單無任何歌曲。\";\n\nreturn newMsg;","outputs":1,"noerr":0,"x":916,"y":155,"wires":[[]]},{"id":"7baad717.2699c8","type":"cloudant out","z":"abd0d84c.0be61","name":"Delete Playlist","cloudant":"","database":"playlist","service":"Humix-Cloudant-Service","payonly":false,"operation":"delete","x":1201.5,"y":113,"wires":[]}]}