CouchDB_json/newflow.json
{"_rev": "16-e5138263eb7deb3c7f2b63560599fa94", "_id": "darcy-TravelMate-4740/flow", "flow": [{"type": "tab", "id": "6c78a13e.7ec4d8", "label": "Flow 1"}, {"type": "tab", "id": "abd0d84c.0be61", "label": "Flow 2"}, {"info": "", "name": "Most or Popular Playlist", "in": [{"y": 125, "x": 46, "wires": [{"id": "2d873cc3.57f72c"}]}], "type": "subflow", "id": "8346ef3f.bbe74", "out": []}, {"usernames": "", "log": "", "botname": "Output", "polling": "1000", "z": "6c78a13e.7ec4d8", "type": "chatbot-telegram-node", "id": "fdfd5c91.02bb18"}, {"usernames": "", "botname": "HumixAudioBot", "z": "6c78a13e.7ec4d8", "type": "telegram bot", "id": "63ae218.036e8e", "chatids": ""}, {"wires": [["e805a871.9627a8"]], "name": "", "outputs": 1, "noerr": 0, "func": "\nreturn msg;", "y": 55, "x": 458, "z": "8346ef3f.bbe74", "type": "function", "id": "9671fe27.4013f8"}, {"wires": [], "name": "Play Song", "commandname": "play-spotify", "commandtype": "humix-spotify-module", "y": 126, "x": 747.5, "z": "8346ef3f.bbe74", "type": "sense command", "id": "e805a871.9627a8", "senseid": "audiobox-bf89cc"}, {"checkall": "true", "z": "8346ef3f.bbe74", "name": "", "rules": [{"vt": "str", "t": "eq", "v": "popular_play_songlist"}, {"vt": "str", "t": "eq", "v": "popular_play_artist"}, {"vt": "str", "t": "eq", "v": "most_play_songlist"}, {"vt": "str", "t": "eq", "v": "most_play_artist"}], "outputs": 4, "wires": [["9671fe27.4013f8"], ["7dc565d0.8c8f54"], ["f007efcb.e6f2"], ["4a481500.da7174"]], "propertyType": "msg", "y": 125, "x": 205.5, "property": "payload.entities[0].value", "type": "switch", "id": "2d873cc3.57f72c"}, {"wires": [["e805a871.9627a8"]], "name": "", "outputs": 1, "noerr": 0, "func": "\nreturn msg;", "y": 98, "x": 457.5, "z": "8346ef3f.bbe74", "type": "function", "id": "7dc565d0.8c8f54"}, {"wires": [["e805a871.9627a8"]], "name": "", "outputs": 1, "noerr": 0, "func": "\nreturn msg;", "y": 150, "x": 458.5, "z": "8346ef3f.bbe74", "type": "function", "id": "f007efcb.e6f2"}, {"wires": [["e805a871.9627a8"]], "name": "", "outputs": 1, "noerr": 0, "func": "\nreturn msg;", "y": 211, "x": 457.5, "z": "8346ef3f.bbe74", "type": "function", "id": "4a481500.da7174"}, {"wires": [["cef773e9.a140f8", "a60f78bd.e47168"]], "name": "Receive Message", "eventtype": "humix-conversation-module", "eventname": "stt", "y": 73, "x": 156.5, "z": "6c78a13e.7ec4d8", "type": "sense event", "id": "72200118.77ef7", "senseid": "Humix-AudioBox-b10f3e"}, {"wires": [], "console": "false", "name": "", "y": 74, "active": true, "x": 461.5, "z": "6c78a13e.7ec4d8", "type": "debug", "id": "a60f78bd.e47168", "complete": "payload"}, {"repeat": "", "name": "Test Conversation", "crontab": "", "id": "b60652f8.fae02", "topic": "play song by selena gomez play i don't wanna live forever by zayn play seasons in the sun by westlife play 24k magic by bruno mars", "payloadType": "str", "wires": [["cef773e9.a140f8"]], "y": 190, "x": 168, "z": "6c78a13e.7ec4d8", "type": "inject", "payload": "{\"message\":\"布魯斯\", \"dev_mac\":\"b827ebb10f3e\"}", "once": false}, {"wires": [], "name": "Pause", "commandname": "pause-spotify", "commandtype": "humix-spotify-module", "y": 318, "x": 696.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "ae788584.1a69a8", "senseid": "audiobox-bf89cc"}, {"wires": [], "name": "Resume", "commandname": "resume-spotify", "commandtype": "humix-spotify-module", "y": 362, "x": 706.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "7ba4fbb6.86193c", "senseid": "audiobox-bf89cc"}, {"wires": [["49519fff.959cd8", "a60f78bd.e47168"]], "name": "AudioBox Conversation", "multiuser": true, "workspaceid": "fc1ecf5f-bc2c-4187-a157-08d1704a3793", "context": true, "y": 184, "x": 492, "z": "6c78a13e.7ec4d8", "type": "watson-conversation-v1", "id": "8b4cd92d.29ffe"}, {"checkall": "false", "z": "6c78a13e.7ec4d8", "name": "Check Intent", "rules": [{"vt": "str", "t": "eq", "v": "greeting"}, {"vt": "str", "t": "eq", "v": "playWithArtistName"}, {"vt": "str", "t": "eq", "v": "pause"}, {"vt": "str", "t": "eq", "v": "resume"}, {"vt": "str", "t": "eq", "v": "changeName"}, {"vt": "str", "t": "eq", "v": "nonsence"}], "outputs": 6, "wires": [["5fda4b35.3de43c"], ["31eb6b88.330abc"], ["ae788584.1a69a8"], ["7ba4fbb6.86193c"], ["3bc69f4e.bf6f"], ["5fda4b35.3de43c"]], "propertyType": "msg", "y": 306, "x": 437, "property": "payload.intents[0].intent", "type": "switch", "id": "49519fff.959cd8"}, {"wires": [["683f6208.81a8e4"], []], "name": "", "bot": "9a824481.320e18", "y": 412, "x": 164, "z": "6c78a13e.7ec4d8", "type": "telegram receiver", "id": "ba42ac14.a0f0f8", "saveDataDir": "/telegram"}, {"wires": [], "console": "false", "name": "Conversation Result", "y": 440, "active": true, "x": 976.5, "z": "6c78a13e.7ec4d8", "type": "debug", "id": "6fcc8f57.062cb8", "complete": "payload"}, {"wires": [[]], "name": "", "bot": "9a824481.320e18", "y": 566, "x": 1228, "z": "6c78a13e.7ec4d8", "type": "telegram sender", "id": "cc88e741.45a3e"}, {"wires": [["69dfc7f5.a5d888"], ["5955d8e8.a91ff8"]], "name": "Telegram Refactor", "outputs": "2", "noerr": 0, "func": "//node.warn(\"msg.originalMessage =\" + JSON.stringify(msg.originalMessage));\n\nvar newMsg = {payload: msg.originalMessage.content, user: msg.user.id};\nvar newMsg2 = null;\nif (msg.payload.length > 0) {\n    //node.warn(\"msg.payload[0] = \" + JSON.stringify(msg.payload[0]));\n    if (msg.payload[0].sense_id) {\n        newMsg.senseId = msg.payload[0].sense_id;\n    }\n    \n    return [newMsg, newMsg2];\n} else {\n    var full_name = \"\" + msg.user.first_name;\n    \n    if (msg.user.last_name) {\n        full_name = \"\" + msg.user.last_name + msg.user.first_name;\n    }\n    \n    newMsg.params = {\n        context: {user_name: full_name}\n    };\n    \n    return [newMsg, newMsg2];\n}\n\n", "y": 477, "x": 434, "z": "6c78a13e.7ec4d8", "type": "function", "id": "58e60525.09d4ac"}, {"wires": [["6fcc8f57.062cb8", "c0e46017.dd2b08", "e6d817e6.7abb8"]], "name": "AudioBox Conversation", "multiuser": true, "workspaceid": "fc1ecf5f-bc2c-4187-a157-08d1704a3793", "context": true, "y": 471, "x": 696.5, "z": "6c78a13e.7ec4d8", "type": "watson-conversation-v1", "id": "69dfc7f5.a5d888"}, {"checkall": "false", "z": "6c78a13e.7ec4d8", "name": "Check Intent", "rules": [{"vt": "str", "t": "eq", "v": "greeting"}, {"vt": "str", "t": "eq", "v": "playNext"}, {"vt": "str", "t": "eq", "v": "playWithArtistName"}, {"vt": "str", "t": "eq", "v": "pause"}, {"vt": "str", "t": "eq", "v": "resume"}, {"vt": "str", "t": "eq", "v": "most_play_intent"}, {"t": "else"}], "outputs": 7, "wires": [["d1d8fee9.428bd8"], ["d1d8fee9.428bd8", "9d0f5a3a.02b08"], ["d1d8fee9.428bd8", "31eb6b88.330abc", "650fb12.ac9c05"], ["ae788584.1a69a8"], ["7ba4fbb6.86193c"], ["9a1c4d3d.d3bee8"], ["650fb12.ac9c05", "d1d8fee9.428bd8"]], "propertyType": "msg", "y": 584, "x": 656.5, "property": "payload.intents[0].intent", "type": "switch", "id": "c0e46017.dd2b08"}, {"wires": [["f5fd8f81.65c57", "e87cb3db.2586"]], "name": "Check Response Output", "outputs": 1, "noerr": 0, "func": "node.warn(msg.payload);\nif (msg.payload.output.text.length > 0) {\n    msg.payload = msg.payload.output.text[0];\n    return msg;\n}", "y": 215, "x": 755, "z": "6c78a13e.7ec4d8", "type": "function", "id": "5fda4b35.3de43c"}, {"wires": [], "name": "Say Something ", "commandname": "tts", "commandtype": "humix-conversation-module", "y": 230, "x": 1698.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "908b01f1.facfa8", "senseid": "Humix-AudioBox-b10f3e"}, {"wires": [["cc88e741.45a3e"]], "name": "Reply Message", "outputs": 1, "noerr": 0, "func": "var newMsg = {};\n\nif (Array.isArray(msg.payload) && msg.payload[0]._id) {\n    if (\"*\" === msg.payload[0].songName) {\n        newMsg.payload = {chatId: msg.payload[0].user, type: 'message', content: \"為您播放 \" + msg.payload[0].artistName  + \" 的歌曲\"};    \n    } else {\n        newMsg.payload = {chatId: msg.payload[0].user, type: 'message', content: \"為您播放 \" + msg.payload[0].artistName  + \" 的 \" + msg.payload[0].songName};\n    }\n    \n    return newMsg;\n}\n\n//if ('node_5_1489763433669' in msg.payload.context.system._node_output_map) {\nif (msg.payload.entities && msg.payload.entities.length > 0 && \"artist_name\" === msg.payload.entities[0].entity) {\n    var text = msg.payload.input.text.substring(msg.payload.entities[0].location[1], msg.payload.input.text.length);\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/的歌曲/i, \"\");\n    text = text.replace(/的歌/i, \"\");\n    \n    if (text.substring(0, 1) === \"的\") {\n        text = text.substring(1, text.length);\n    }\n    \n    if (text && text.length > 0) {\n        newMsg.payload = {chatId: msg.user, type: 'message', content: \"為您播放 \" + msg.payload.entities[0].value  + \" 的 \" + text};\n        return newMsg;\n    }\n    \n}\n\nif (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n    newMsg.payload = {chatId: msg.user, type: 'message', content: msg.payload.output.text[0]};\n    return newMsg;\n}\n\nif (msg.payload.entities && msg.payload.entities.length === 0 && msg.payload.input.text.length >= 3) {\n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/來一首/i, \"\");\n    text = text.replace(/唱一首/i, \"\");\n    text = text.replace(/播一首/i, \"\");\n    text = text.replace(/唱一下/i, \"\");\n    text = text.replace(/播一下/i, \"\");\n    text = text.replace(/我要聽/i, \"\");\n    text = text.replace(/我想聽/i, \"\");\n    text = text.replace(/要聽/i, \"\");\n    text = text.replace(/想聽/i, \"\");\n    text = text.replace(/播放/i, \"\");\n    text = text.replace(/播/i, \"\");\n    \n    newMsg.payload = {chatId: msg.user, type: 'message', content: \"幫你搜尋 \" + text + \" 這首歌。\"};\n    return newMsg;\n}\n\nif (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n    newMsg.payload = {chatId: msg.user, type: 'message', content: msg.payload.output.text[0]};\n    return newMsg;\n}", "y": 566, "x": 954.5, "z": "6c78a13e.7ec4d8", "type": "function", "id": "d1d8fee9.428bd8"}, {"wires": [["8e9486d1.339c9"], ["e87cb3db.2586", "f5fd8f81.65c57"]], "name": "Prepare for Create Data", "outputs": "2", "noerr": 0, "func": "//node.warn(msg.payload.entities[0].value);\nvar _userName = \"\";\nif (msg.payload.context.user_name) {\n    _userName = msg.payload.context.user_name;\n}\n\nvar newMsg = {};\nvar newMsg2 = null;\nif (msg.user && msg.payload.entities.length >= 2) {\n    if (msg.payload.entities[0].entity == 'playlist' && msg.payload.entities[1].entity == 'artist_name') {\n        newMsg.payload = {user: msg.user, userName: _userName, songName: \"*\", artistName: msg.payload.entities[1].value, creation_time: new Date()};\n        node.warn(JSON.stringify(newMsg));\n        if (msg.payload.output && msg.payload.output.text && msg.payload.output.text.length > 0) {\n            newMsg2 = {payload: msg.payload.output.text[0]};\n        }\n        return [newMsg, newMsg2];\n    }\n}", "y": 179, "x": 999, "z": "6c78a13e.7ec4d8", "type": "function", "id": "4bc04b18.02e41c"}, {"wires": [], "name": "Insert Playlist", "cloudant": "", "database": "playlist", "payonly": true, "service": "Humix-Cloudant-Service", "y": 172, "x": 1240, "operation": "insert", "z": "6c78a13e.7ec4d8", "type": "cloudant out", "id": "8e9486d1.339c9"}, {"wires": [["8b4cd92d.29ffe"]], "name": "Apply User", "outputs": 1, "noerr": 0, "func": "var input = JSON.parse(msg.payload);\n\nif (input.dev_mac && input.message) {\n    var newMsg = {};\n    newMsg.user = input.dev_mac;\n    newMsg.payload = input.message;\n    \n    return newMsg;    \n}", "y": 130, "x": 318, "z": "6c78a13e.7ec4d8", "type": "function", "id": "cef773e9.a140f8"}, {"wires": [], "name": "Play Song", "commandname": "play-spotify", "commandtype": "humix-spotify-module", "y": 338, "x": 1515.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "e8dd52b1.9fa838", "senseid": "audiobox-bf89cc"}, {"wires": [["908b01f1.facfa8"]], "name": "", "randomLast": "5", "timeoutUnits": "seconds", "drop": false, "randomUnits": "seconds", "rate": "1", "timeout": "1", "y": 230, "x": 1506, "randomFirst": "1", "z": "6c78a13e.7ec4d8", "type": "delay", "id": "f5fd8f81.65c57", "rateUnits": "second", "pauseType": "delay"}, {"wires": [], "name": "Pause", "commandname": "pause-spotify", "commandtype": "humix-spotify-module", "y": 284, "x": 1495.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "e87cb3db.2586", "senseid": "audiobox-bf89cc"}, {"wires": [["e8dd52b1.9fa838", "83a9210b.d416d"]], "name": "Check Artist or Song Name", "outputs": 1, "noerr": 0, "func": "var newMsg = {user: msg.user};\n\nif (msg.senseId) {\n    newMsg.senseId = msg.senseId;\n}\n\nif (msg.payload.entities && msg.payload.entities.length > 0 && \"artist_name\" === msg.payload.entities[0].entity) {\n    var text = msg.payload.input.text.substring(msg.payload.entities[0].location[1], msg.payload.input.text.length);\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/的歌曲/i, \"\");\n    text = text.replace(/的歌/i, \"\");\n    \n    if (text.substring(0, 1) === \"的\") {\n        text = text.substring(1, text.length);\n    }\n    \n    if (text && text.length > 0) {\n        newMsg.payload = {\"songName\": text, \"artistName\": msg.payload.entities[0].value};    \n    } else {\n        newMsg.payload = {\"songName\": \"*\", \"artistName\": msg.payload.entities[0].value};\n    }\n    \n    return newMsg;\n}\n\nif (msg.payload.entities && msg.payload.entities.length === 0 && msg.payload.input.text.length >= 3) {\n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/來一首/i, \"\");\n    text = text.replace(/唱一首/i, \"\");\n    text = text.replace(/播一首/i, \"\");\n    text = text.replace(/唱一下/i, \"\");\n    text = text.replace(/播一下/i, \"\");\n    text = text.replace(/我要聽/i, \"\");\n    text = text.replace(/我想聽/i, \"\");\n    text = text.replace(/要聽/i, \"\");\n    text = text.replace(/想聽/i, \"\");\n    text = text.replace(/播放/i, \"\");\n    text = text.replace(/播/i, \"\");\n    \n    newMsg.payload = {\"songName\": text};\n    \n    return newMsg;\n}", "y": 339, "x": 998, "z": "6c78a13e.7ec4d8", "type": "function", "id": "31eb6b88.330abc"}, {"wires": [["8b4cd92d.29ffe"]], "name": "Change User Name", "outputs": "1", "noerr": 0, "func": "if (msg.payload.input.text.length > 0 && 'conversation_start' in msg.payload.context.system._node_output_map) {\n    \n    var text = msg.payload.input.text;\n    text = text.replace(/ /i, \"\");\n    text = text.replace(/我的名子是/i, \"\");\n    text = text.replace(/我叫做/i, \"\");\n    text = text.replace(/請叫我/i, \"\");\n    text = text.replace(/我是/i, \"\");\n    text = text.replace(/叫我/i, \"\");\n    text = text.replace(/我叫/i, \"\");\n    text = text.replace(/叫/i, \"\");\n    \n    var newMsg = {};\n    newMsg.user = msg.user;\n    newMsg.params = {\n        context: {user_name: text}\n    };\n    newMsg.payload = \"布魯斯\";\n    //newMsg.payload = \"哈囉\";\n    node.warn(newMsg);\n    \n    return newMsg;\n}", "y": 269, "x": 736.5, "z": "6c78a13e.7ec4d8", "type": "function", "id": "3bc69f4e.bf6f"}, {"index": "userSearch", "search": "_idx_", "wires": [["2eba06be.7547b2"]], "name": "Query User", "cloudant": "", "database": "telegram_users", "service": "Humix-Cloudant-Service", "design": "userSearch", "y": 551, "x": 144.5, "z": "6c78a13e.7ec4d8", "type": "cloudant in", "id": "d08281b8.4955f8"}, {"checkall": "true", "z": "6c78a13e.7ec4d8", "name": "Check Query Result", "rules": [{"vt": "str", "t": "gt", "v": "0"}, {"t": "else"}], "outputs": 2, "wires": [["58e60525.09d4ac"], ["da214550.61bba", "58e60525.09d4ac"]], "propertyType": "msg", "y": 615, "x": 175.5, "property": "payload.length", "type": "switch", "id": "2eba06be.7547b2"}, {"wires": [["d08281b8.4955f8"]], "name": "Prepare for Query User", "outputs": 1, "noerr": 0, "func": "var newMsg = {};\nnode.warn(\"msg.originalMessage.from = \" + JSON.stringify(msg.originalMessage.from));\nif (msg.originalMessage.from) {\n    newMsg.originalMessage = msg.payload;\n    newMsg.payload = \"id:\" + msg.originalMessage.from.id;\n    newMsg.user = msg.originalMessage.from;\n    \n    return newMsg;\n}", "y": 489, "x": 183.5, "z": "6c78a13e.7ec4d8", "type": "function", "id": "683f6208.81a8e4"}, {"wires": [["5955d8e8.a91ff8"]], "name": "Prepare for Create Data", "outputs": 1, "noerr": 0, "func": "var newMsg = {};\nnewMsg.payload = msg.user;\nnewMsg.payload.full_name = \"\" + msg.user.first_name;\nif (msg.user.last_name) {\n    newMsg.payload.full_name = \"\" + msg.user.last_name + msg.user.first_name;    \n}\n\nreturn newMsg", "y": 621, "x": 435.5, "z": "6c78a13e.7ec4d8", "type": "function", "id": "da214550.61bba"}, {"wires": [], "name": "Insert or Update User", "cloudant": "", "database": "telegram_users", "payonly": true, "service": "Humix-Cloudant-Service", "y": 550, "x": 444.5, "operation": "insert", "z": "6c78a13e.7ec4d8", "type": "cloudant out", "id": "5955d8e8.a91ff8"}, {"wires": [["a2a3b6ab.eee8c8"]], "name": "Check Emotion or musictype or Artist", "outputs": "1", "noerr": 0, "func": "//node.warn(JSON.stringify(msg.payload));\nvar wildcard = ['%25a%25', 'a%25', '%25e%25', 'e%25', '%25i%25', 'i%25', '%25o%25', 'o%25', '%25u%25', 'u%25'];\nvar newMsg = { };\n\nif (msg.senseId) {\n    newMsg.senseId = msg.senseId;\n}\n\nif (\"playWithArtistName\" != (\"\" + msg.payload.intents[0].intent)\n    && msg.payload.entities\n    && msg.payload.entities.length > 0 ) {\n        \n    newMsg.user = msg.user;\n    \n    newMsg.method = \"GET\";\n    newMsg.headers = \"client_id: 6b284830006843e7ae7b170725715aed\";\n    \n    var entity = msg.payload.entities[0].entity;\n    if (entity === 'artist_name') {\n        newMsg.url = \"https://api.spotify.com/v1/search?limit=5&type=artist&q=\" + encodeURI(msg.payload.entities[0].value);\n        return newMsg;\n        \n    } else if (entity === 'emotion' || entity === 'color' || entity === 'musictype') {\n        if (\"其他\" === msg.payload.entities[0].value\n            || \"不要\" === msg.payload.entities[0].value) {\n            \n            var qStr = wildcard[getRandomNumber(wildcard.length)];\n            \n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + qStr;\n        } else {\n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + encodeURI(msg.payload.entities[0].value);\n        }\n        return newMsg;    \n    } else if (entity === 'function') {\n        if (\"點歌\" === msg.payload.entities[0].value) {\n            var qStr = wildcard[getRandomNumber(wildcard.length)];\n            \n            newMsg.url = \"https://api.spotify.com/v1/search?limit=50&type=playlist&q=\" + qStr;\n            \n            return newMsg; \n        }\n    } \n}\n\nfunction getRandomNumber(quantity_of_nums){\n    var milliseconds = new Date().getMilliseconds();\n    return Math.floor(milliseconds * quantity_of_nums / 1000);\n}", "y": 628, "x": 1023.5, "z": "6c78a13e.7ec4d8", "type": "function", "id": "650fb12.ac9c05"}, {"tls": "", "wires": [["f64b8e97.d2683"]], "name": "Spotify Search API", "url": "", "ret": "obj", "id": "a2a3b6ab.eee8c8", "y": 747, "x": 953, "z": "6c78a13e.7ec4d8", "type": "http request", "method": "GET"}, {"wires": [], "console": "false", "name": "Search Item Logs", "y": 654, "active": true, "x": 1528, "z": "6c78a13e.7ec4d8", "type": "debug", "id": "15027feb.be329", "complete": "true"}, {"wires": [["15027feb.be329", "cc88e741.45a3e"], ["ff67f5c1.f699d8"], ["e8dd52b1.9fa838"]], "name": "Random Search Items", "outputs": "3", "noerr": 0, "func": "if (msg.payload.playlists && msg.payload.playlists.items.length > 0 && msg.user) {\n    var random = getRandomNumber(msg.payload.playlists.items.length);\n    var item = msg.payload.playlists.items[random];\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: item.external_urls.spotify} };\n    var newMsg2 = {payload: {\n        user: msg.user,\n        type: item.type,\n        item_id: item.id,\n        owner_id: item.owner.id,\n        external_url: item.external_urls.spotify,\n        creation_date:(new Date()).getTime()\n    }};\n    var newMsg3 = {payload: {playlistId: item.id, ownerId: item.owner.id} };\n    \n    if (msg.senseId) {\n        newMsg3.senseId = msg.senseId;\n    }\n    \n    return [newMsg, newMsg2, newMsg3];\n} else if (msg.payload.artists && msg.payload.artists.items.length > 0 && msg.user) {\n    var item = msg.payload.artists.items[0];\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: item.external_urls.spotify}};\n    var newMsg2 = {payload: {\n        user: msg.user,\n        type: item.type,\n        item_id: item.id,\n        external_url: item.external_urls.spotify,\n        creation_date:(new Date()).getTime()\n    }};\n    \n    return [newMsg, newMsg2, null];\n} else if (msg.payload.tracks && msg.payload.tracks.items.length > 0 && msg.user) {\n    var random = getRandomNumber(msg.payload.tracks.items.length);\n    var item = msg.payload.tracks.items[random];\n    \n    var externalUrl = item.album.external_urls.spotify;\n    \n    if (\"*\" === msg.songName) {\n        externalUrl = item.artists[0].external_urls.spotify;\n    }\n    \n    var newMsg = {payload: {chatId: msg.user, type: 'message', content: externalUrl} };\n    return [newMsg, null, null];\n}\n\nfunction getRandomNumber(quantity_of_nums){\n    var milliseconds = new Date().getMilliseconds();\n    return Math.floor(milliseconds * quantity_of_nums / 1000);\n}", "y": 746, "x": 1242, "z": "6c78a13e.7ec4d8", "type": "function", "id": "f64b8e97.d2683"}, {"wires": [], "name": "Insert Playlist", "cloudant": "", "database": "playlist", "payonly": true, "service": "Humix-Cloudant-Service", "y": 752, "x": 1508.5, "operation": "insert", "z": "6c78a13e.7ec4d8", "type": "cloudant out", "id": "ff67f5c1.f699d8"}, {"wires": [], "name": "Insert Conversation", "cloudant": "", "database": "conversation_result", "payonly": true, "service": "Humix-Cloudant-Service", "y": 522, "x": 964, "operation": "insert", "z": "6c78a13e.7ec4d8", "type": "cloudant out", "id": "bcf00ace.1001e8"}, {"wires": [], "name": "Next Song", "commandname": "next-spotify", "commandtype": "humix-spotify-module", "y": 391, "x": 1515.5, "z": "6c78a13e.7ec4d8", "type": "sense command", "id": "9d0f5a3a.02b08", "senseid": "audiobox-bf89cc"}, {"wires": [["d3d3043d.5ac928", "a2a3b6ab.eee8c8"]], "name": "Response Artist Name or Song Name", "outputs": 1, "noerr": 0, "func": "msg.method = \"GET\";\nmsg.headers = \"client_id: 6b284830006843e7ae7b170725715aed\";\nmsg.artistName = msg.payload.artistName;\nmsg.songName = msg.payload.songName;\n\nnode.warn(\"msg = \" + JSON.stringify(msg));\nif (msg.payload.artistName) {\n    if (\"*\" === msg.payload.songName) {\n        msg.url = \"https://api.spotify.com/v1/search?limit=10&type=artist&q=\" + encodeURI(msg.payload.songName) + \"%20artist:\" + encodeURI(msg.payload.artistName);        \n    } else {\n        msg.url = \"https://api.spotify.com/v1/search?limit=10&type=track&q=\" + encodeURI(msg.payload.songName) + \"%20artist:\" + encodeURI(msg.payload.artistName);\n    }\n    msg.payload = \"\";\n    return msg;\n}\n", "y": 391, "x": 1028, "z": "6c78a13e.7ec4d8", "type": "function", "id": "83a9210b.d416d"}, {"wires": [], "console": "false", "name": "", "y": 391, "active": true, "x": 1303, "z": "6c78a13e.7ec4d8", "type": "debug", "id": "d3d3043d.5ac928", "complete": "true"}, {"wires": [["bcf00ace.1001e8"]], "name": "Log User and Creation Date", "outputs": 1, "noerr": 0, "func": "if (msg.user) {\n   msg.payload.user = msg.user;\n   msg.payload.creation_date = (new Date()).getTime();\n}\nreturn msg; ", "y": 482, "x": 995, "z": "6c78a13e.7ec4d8", "type": "function", "id": "e6d817e6.7abb8"}, {"wires": [["fea33b50.dbdb98"], ["bf91410d.d258a"]], "name": "/menu", "bot": "9a824481.320e18", "command": "/menu", "y": 694, "x": 125, "z": "6c78a13e.7ec4d8", "type": "telegram command", "id": "b08ba4a4.8d043"}, {"wires": [["39054b13.dcc1cc", "409bf146.e00cc8"]], "name": "Create Menu", "outputs": 1, "noerr": 0, "func": "node.warn(\"Hello\");\n\n\nvar keyboard = context.global.get(\"keyboard\");\n\nif (keyboard && keyboard.pending) {\n    \n    context.global.set(\"keyboard\", {pending: false});\n    \n    // '開心'], \n    //         ['悲傷'], \n    //         ['戀愛'],\n    //         ['生氣'],\n    //         ['無奈'\n    \n    if (msg.payload.content === '開心') {\n        msg.payload.content = '開心';\n        return [msg, null];\n    } else if(msg.payload.content === '悲傷'){\n        msg.payload.content = '悲傷';\n        return [msg, null];\n    } else if(msg.payload.content === '戀愛') {\n        msg.payload.content = '戀愛';\n        return [msg, null];\n    } else if(msg.payload.content === '生氣') {\n        msg.payload.content = '生氣';\n        return [msg, null];\n    } else if(msg.payload.content === '無奈') {\n        msg.payload.content = '無奈';\n        return [msg, null];\n    } else {\n        msg.payload.content = 'Hi';\n        return [null, msg];\n    }\n}\n\n\n// var menuMsg = \"/menu - show menu\\r\\n\";\n\n// menuMsg += \"Hi,\" + msg.originalMessage.from.username;\n\n// msg.payload.content = menuMsg;\n// msg.payload.options = {parse_mode : \"Markdown\"};\n// return msg;\n\n// var newMsg = {\n//     payload:{\n//         chatId: msg.originalMessage.from.id, \n//         type: 'message', \n//         content: ('Hello ' + msg.originalMessage.from.first_name)\n//     }};\n\n// return newMsg;", "y": 758, "x": 297, "z": "6c78a13e.7ec4d8", "type": "function", "id": "bf91410d.d258a"}, {"wires": [[]], "name": "send", "bot": "9a824481.320e18", "y": 689, "x": 554, "z": "6c78a13e.7ec4d8", "type": "telegram sender", "id": "39054b13.dcc1cc"}, {"wires": [["39054b13.dcc1cc"]], "name": "confirmation msg", "outputs": 1, "noerr": 0, "func": "context.global.keyboard = { pending: true};\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: JSON.stringify({\n        keyboard: [\n            ['開心'], \n            ['悲傷'], \n            ['戀愛'],\n            ['生氣'],\n            ['無奈']],\n            'resize_keyboard' : true,\n            'one_time_keyboard' : true\n    })\n};\n\nmsg.payload.content = 'Really?';\nmsg.payload.options = opts;\nreturn [ msg ];", "y": 674, "x": 331, "z": "6c78a13e.7ec4d8", "type": "function", "id": "fea33b50.dbdb98"}, {"wires": [], "console": "false", "name": "", "y": 773, "active": true, "x": 484, "z": "6c78a13e.7ec4d8", "type": "debug", "id": "409bf146.e00cc8", "complete": "payload"}, {"wires": [], "name": "", "y": 773, "x": 730, "z": "6c78a13e.7ec4d8", "type": "subflow:8346ef3f.bbe74", "id": "9a1c4d3d.d3bee8"}, {"wires": [["b6e8ba59.d42c18"]], "name": "Apply Query Creatria", "outputs": 1, "noerr": 0, "func": "var newMsg = {};\n\nnewMsg.user = msg.user; \nnewMsg.payload = \"user:\" + msg.user;\nif (msg.payload.context.user_name) {\n    newMsg.payload += \", userName:\";\n    newMsg.payload += msg.payload.context.user_name;\n}\n\nreturn newMsg;", "y": 81, "x": 143, "z": "abd0d84c.0be61", "type": "function", "id": "cedb1bc7.3f7b9"}, {"index": "userSearch", "search": "_idx_", "wires": [["ce29159.2df6668"]], "name": "Query Playlist", "cloudant": "", "database": "playlist", "service": "Humix-Cloudant-Service", "design": "userSearch", "y": 81, "x": 387.5, "z": "abd0d84c.0be61", "type": "cloudant in", "id": "b6e8ba59.d42c18"}, {"checkall": "true", "z": "abd0d84c.0be61", "name": "Check Query Result", "rules": [{"vt": "str", "t": "gt", "v": "0"}, {"t": "else"}], "outputs": 2, "wires": [["627f001.c3008", "2e251b57.b8ba84"], ["253b4628.a7a822"]], "propertyType": "msg", "y": 81, "x": 640.5, "property": "payload.length", "type": "switch", "id": "ce29159.2df6668"}, {"wires": [[]], "name": "Play Artist or Song Name", "outputs": 1, "noerr": 0, "func": "var doc = msg.payload[0];\n\nvar newMsg = {};\nnewMsg.payload = {\"songName\": doc.songName, \"artistName\": doc.artistName};\n\nnode.warn(JSON.stringify(newMsg.payload));\n\nreturn newMsg;", "y": 74, "x": 940, "z": "abd0d84c.0be61", "type": "function", "id": "627f001.c3008"}, {"wires": [["7baad717.2699c8"]], "name": "Prepare Delete", "outputs": 1, "noerr": 0, "func": "var doc = msg.payload[0];\n\nvar newMsg = {};\nnewMsg.payload = doc;\n\nreturn newMsg;", "y": 114, "x": 910, "z": "abd0d84c.0be61", "type": "function", "id": "2e251b57.b8ba84"}, {"wires": [[]], "name": "Playlist Empty", "outputs": 1, "noerr": 0, "func": "var newMsg = {};\nnewMsg.payload = \"目前你的歌單無任何歌曲。\";\n\nreturn newMsg;", "y": 155, "x": 916, "z": "abd0d84c.0be61", "type": "function", "id": "253b4628.a7a822"}, {"wires": [], "name": "Delete Playlist", "cloudant": "", "database": "playlist", "payonly": false, "service": "Humix-Cloudant-Service", "y": 113, "x": 1201.5, "operation": "delete", "z": "abd0d84c.0be61", "type": "cloudant out", "id": "7baad717.2699c8"}]}